<header class="has-text-centered my-6">
  <h1 class="title is-1">Calculadora</h1>
</header>
<main class="columns">
  <div class="column is-4 is-offset-4 box">
    <input class="input is-large my-3" type="text" [(ngModel)]="display" disabled/>
    <div class="columns">
      <div class="column is-3 is-offset-3">
        <button class="button is-danger is-large" (click)="process('ac')">AC</button>
      </div>
      <div class="column is-3">
        <button class="button is-warning is-large" (click)="process('c')">C</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-primary is-large" (click)="process('/')">/</button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('7')">7</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('8')">8</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('9')">9</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-primary is-large" (click)="process('+')">+</button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('4')">4</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('5')">5</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('6')">6</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-primary is-large" (click)="process('-')">-</button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('1')">1</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('2')">2</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('3')">3</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-primary is-large" (click)="process('*')">*</button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 ">
        <button class="button is-large" disabled></button>
      </div>
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('0')">0</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-large" (click)="process('.')">.</button>
      </div>
      <div class="column is-3 ">
        <button class="button is-primary is-large is-link" (click)="process('=')">=</button>
      </div>
    </div>
  </div>
</main>
